
.weather-container {
    background-color: rgba(255,255,255,0.2);
    padding: 20px;
    border-radius: 5px;
    color: #5B8FB9;
    backdrop-filter: blur(5px);
    border-color: #F4EEE0;
   
  }
  
  .weather-container h2 {
    margin: 0;
    text-align: center;
  }
  
  .weather-details {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .weather-details img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  .weather-details .temperature {
    font-size: 24px;
    font-weight: bold;
  }
  
  .weather-details .weather-type {
    font-size: 18px;
    margin-top: 5px;
  }
  .city{
    font-weight: bold;
    font-weight: 30px;
  }